**/.idea/
.quarkus
.quarkus/
.vscode/
.vscode
# --- Dependencies (Matches any folder named node_modules) ---
node_modules/
**/node_modules/

# --- Angular Cache & Build Artifacts ---
**/.angular/
**/dist/
**/tmp/
**/out-of-memory/
**/.sass-cache/

# --- Logs ---
*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# --- IDE & OS Junk ---
.vscode/
.idea/
**/.DS_Store
**/Thumbs.db
*.swp

# --- Compiled Files ---
*.js.map
*.metadata.json
**/coverage/
**/.nyc_output/
**/target/
**/target
# --- Environment Secrets ---
**/src/environments/environment.prod.ts
**/.env
**/.env.*

diagrams/**/*.bak*
